# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CPEN502\Assignment1-a\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
